body{
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: "Short Stack", cursive;
}
#header-nav {
    background-color: #4ec5ba;
    border-radius: 0;
    border: 0;
    color: black;
}
/*.navbar-brand {
    padding-top: 25px;
}*/
  .navbar-brand p { /* Restaurant name */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}  
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: black;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  body h3{
    text-align: center;
  }
  #main-content{
    background-color: #4ec5ba;
    height: 1000px;
    margin: 5%;
    padding: 20px 50px;
  }
  @media (min-width: 768px) {
    #nav-list {
        display: none;
    }
}
  