*{
    box-sizing: border-box;
   
}
body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0%;
    padding: 0%;
}
h1{
    
    text-align: center;
    margin: 15px;
    color: #f15ccb;
}
.box {
    width: 100%;
}

p{
    border: 2px solid black;
    margin-top: 15px;
    margin: 2%;
    height: auto;
   padding: 5%;
   background-color: #aed8eb;
   height: 200px;
}
h2{
    border: 2px solid black;
    display: block;
    position: relative;
    margin: 0%;
    float: right;
   margin-right: 2%;
  padding: 5px;
}
#box1{
    background-color: #e94f4f;
}
#box2{
    background-color: #f5741f;
}
#box3{
    background-color: #f8de00;
}

@media (min-width: 992px) {
    .col-lg-4{
        width: 33.33%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width:991px) {
    .col-md-6{
        width: 50%;
        float: left;
    }
}
@media (max-width: 767px) {
    .col-sm-12{
        width: 100%; 
        float: left;
    }
}